<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-4">
      <%= form_with(model: @photo, local: true) do |f| %>
      <div class="form-group">
          <%= f.label :title, 'タイトル' %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <%= f.submit '投稿', class: 'btn btn-success btn-block' %>
      <% end %>
    </aside>
    <div class="col-sm-8">
      <%= render 'photos/photos', photos: @photos %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <div class ="container">
    <div class="text-center">
        <h1>Healing Photos</h1>
        <h2>あなたの癒しを感じた写真を共有しよう！</h2>
    </div>
  </div>
</div>

<div class="text-center">
  <%= link_to '会員登録', signup_path, class: 'btn btn-lg btn-success' %>
  <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-success' %>
</div>
<% end %>